.keeps-list{
    display: flex;
    flex-wrap: wrap;
    gap:10px;


}
.keep-preview{
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
}
.note-img .note-video{
    height:150px;
    width: 50px;
}
.keep-preview-todos ul{
    padding: 0;
}
.todo{
    list-style: none;
    display: flex;
     justify-content: space-between;
   align-items: center;
    gap:5px
}
.todo input[type=checkbox]:checked {
    background-color: transparent;
    color:rgb(124, 124, 124);
}


.edit-items{
    display: flex;
    justify-content: center;
  align-items: center;
  gap:5px
}
.edit-txt{
    background-color: transparent;
    height: 25px;
border-radius: 5px;
padding: 5px;
    width: 600px;
    border: 1px solid rgb(124, 124, 124);
    /* border-bottom: 1px solid rgb(124, 124, 124) ; */
   
}

.edit-txt:focus{
    outline: none;
    
    box-shadow: 0 0 5px #5f5f5f;
}
.add-node{
    border-radius: 10px;
    border: 1px rgb(124, 124, 124) solid;
    /* box-shadow: 0 0 5px #5f5f5f; */
    margin-bottom: 30px;
    padding: 20px; 
    display: flex;
    justify-content: center;
    position: relative;

  align-items: center;
  gap:5px;
  /* width: 60%; */
  margin:20px auto;
}
.note-details{
  position: absolute;
}
.color-palete{
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}
.color-palete:hover i{
    color: rgb(100, 0, 62);
}
.color-container{
    position: relative;
}
.color-input{
    opacity: 0;
    width: 20px;
}
.btn-note-type{
    background-color: transparent;
    height: 30px;
    border: none;
    cursor: pointer;
}
.action-note-container{
    display: flex;
    justify-content: space-between;
    position: relative;

}
.btn-note-type:hover i{
    color: rgb(100, 0, 62);
}
.btn-note-type i{
    font-size: 1.2rem;
}