@import './cmps/note-list.css';
@import './cmps/note-preview.css';
@import './cmps/add-note.css';
@import './cmps/note-filter.css';


.note-app{
    background-color: rgb(240, 240, 240);
    padding-bottom: 30px;
    top: 50px;
    position: relative
}
.preview-type-p{

    padding-inline-start: 30px;
}