.notes-list{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap; 
    gap:10px;
    padding-inline-start: 5%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(182, 182, 182);
 
}
.color-palete:hover i{
    color: rgb(100, 0, 62);
}
.color-container{
    position: relative;
}
.color-input{
    opacity: 0;
    width: 20px;
}
.btn-note-type{
    background-color: transparent;
    height: 30px;
    border: none;
    cursor: pointer;
}
.btn-note-type:hover i{
    color: rgb(100, 0, 62);
}
.btn-note-type i{
    font-size: 1.2rem;
}