* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* EMAIL-APP */
.email-app {
    display: flex;
    padding: 10px;
}

.email-app nav {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    /* width: 250px; */
}

.email-app nav li {
    list-style-type: none;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.email-app nav .compose-btn {
    background-color: white;
    border-radius: 30px;
    padding: 3px 12px;
    font-size: 1.1rem;
    cursor: pointer;
}

.email-app .main-content {
    flex: 1;
}

/* EMAIL-LIST */
.email-filter {
    text-align: center;
}

/* EMAIL-LIST */
.email-list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/* EMAIL-PREVIEW */
.email-preview {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 20px 1fr 80px 30px 30px;
    align-items: center;
    cursor: pointer;
}
.email-preview:hover {
    box-shadow: 1px 1px 4px 1px rgba(117, 117, 117, 0.7);
}

.email-preview .email-subjet {
    padding-left: 10px;
    /* font-weight: 700; */
}

.email-preview {
    font-weight: 700;
}

.email-preview.read {
    /* padding-left: 10px; */
    background-color: #f3f3f3;
    font-weight: 400;
}

.email-preview .fas.fa-star {
    color: #ffc760;
}

/* EMAIL-DETAILS */
.email-details .subject {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.email-details .actions {
    margin-bottom: 20px;
}

.email-details .actions i {
    font-size: 1.2rem;
    cursor: pointer;
}

.email-details .actions i:hover {
    color:gray; 
}

/* EMAIL-STATUS */

/* EMAIL-COMPOSE */
.email-compose {
    /* border: 1px solid #5f5f5f; */
    box-shadow: 1px 1px 4px 1px rgba(117, 117, 117, 0.7);
}
.email-compose .email-header {
    background-color: #5f5f5f;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.email-compose #subject {
    width: fit-content;
    border: none;
    outline: none;
    cursor:text;
}

.email-compose .subject-container {
    border-bottom: 1px solid #5f5f5f;
    padding: 10px 10px;
}

.email-compose textarea {
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor:text;
}

.email-compose .email-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.email-compose .email-footer .send-btn {
    background-color: royalblue;
    color: white;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.email-compose .email-footer .delete-btn {
    font-size: 1.3rem;
    cursor: pointer;

}